body {
    background: linear-gradient(to right) #f7f2f9; /* Light gray background */
  }
  
  .container {
    margin-top: 50px;
  }
  
  .card {
    background-color: #fef9f9;
    border: 1px solid #fcfcfc;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0c0c0c1a;
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
